@(room: models.RoomType.Value,isCookieAccepted: Boolean)(implicit lang: Lang)

@import play.api.i18n._
@import org.joda.time.MonthDay
@import models._
@import models.RoomType._
@import models.Treatment._
@import common._

@main(Messages("accomodation.title"), isCookieAccepted){

@common.landscape()
<div class="row margined">
	<div class="col-xs-12 margined">
		<h2>
			@{
				room match {
					case RoomType.triple => Messages("room.triple")
					case RoomType.double => Messages("room.double")
					case RoomType.quad => 	Messages("room.quad")
					case RoomType.single => Messages("room.single")
				}
			}
		</h2>
		<hr></div>
	<div class="col-md-6">
		@{
				room match {
					case RoomType.triple => common.carousel(
							(routes.Assets.versioned("images/suite1.jpg").url, Messages("images.suite1")),
							(routes.Assets.versioned("images/suite2.jpg").url, Messages("images.suite2")),
							(routes.Assets.versioned("images/suite3.jpg").url, Messages("images.suite3"))
						)
					case RoomType.double => common.carousel(
							(routes.Assets.versioned("images/mountainView1.jpg").url, Messages("images.mountainView1")),
							(routes.Assets.versioned("images/mountainView2.jpg").url, Messages("images.mountainView2")),
							(routes.Assets.versioned("images/mountainView3.jpg").url, Messages("images.mountainView3"))
						)
					case RoomType.quad => common.carousel(
							(routes.Assets.versioned("images/lakeView1.jpg").url, Messages("images.lakeView1")),
							(routes.Assets.versioned("images/lakeView2.jpg").url, Messages("images.lakeView2")),
							(routes.Assets.versioned("images/lakeView3.jpg").url, Messages("images.lakeView3"))
						)
					case RoomType.single => common.carousel(
							(routes.Assets.versioned("images/single1.jpg").url, Messages("images.single1")),
							(routes.Assets.versioned("images/single2.jpg").url, Messages("images.single2")),
							(routes.Assets.versioned("images/single3.jpg").url, Messages("images.single3"))
						)
				}
			}
	</div>
	<div class="col-md-6 box">
		<h3>@Messages("room.description")</h3>
		<span></span>
		<div>
		@{
				room match {
					case RoomType.triple => Messages("room.triple-desc")
					case RoomType.quad => Messages("room.quad-desc")
					case RoomType.double => Messages("room.double-desc")
					case RoomType.single => Messages("room.single-desc")
				}
			}
			</div>
	    @* common.bookingPanel(room) *@
	</div>
	<div class="row margined">
		<div class="col-xs-12">
			<div class="col-xs-12 box">
				<h3>@Messages("room.facilities")</h3>
				<span></span>
			</div>
			<div class="col-xs-12 facilities">
				<ul>
					<li><span class="glyphicon glyphicon-ok"></span>@Messages("room.privete-bathroom")</li>
					<li><span class="glyphicon glyphicon-ok"></span>@Messages("room.television")</li>
					<li><span class="glyphicon glyphicon-ok"></span>@Messages("room.air-conditioning")</li>
					<li><span class="glyphicon glyphicon-ok"></span>@Messages("room.telephone")</li>
					<li><span class="glyphicon glyphicon-ok"></span>@Messages("room.safe")</li>
				</ul>
			</div>
		</div>
	</div>
</div>
}