@(isCookieAccepted: Boolean)(implicit lang: Lang)
@import play.api.i18n._
@import org.joda.time.MonthDay
@import models._


@main(Messages("accomodation.title"),isCookieAccepted) {

@common.landscape()
<div class="row">
	<div class="col-xs-12">
		<h2>@Messages("facilities")</h2>
		<hr></div>
</div>
<div class="row box-container">
	<div class="col-sm-4 box padded">
		<img src="@routes.Assets.versioned("images/restaurant-logo.jpg")" alt="">
		<h3>@Messages("restaurant")</h3>
		<span></span>
		<div>@Messages("restaurant.desc", UtilObject.discountForMeals)</div>
		
	</div>
	<div class="col-sm-4 box padded">
		<img src="@routes.Assets.versioned("images/bar-logo.jpg")" alt="">
		<h3>@Messages("bar")</h3>
		<span></span>
		<div>@Messages("bar.desc")</div>
		
	</div>
	<div class="col-sm-4 box padded">
		<img src="@routes.Assets.versioned("images/gardacqua.jpg")" alt="">
		<h3>@Messages("gardacqua.association")</h3>
		<span></span>
		<div>@Messages("gardacqua.short")</div>
	</div>
</div>
<div class="row box">
	<div class="col-sm-12">
		<h2>@Messages("parking.label")</h2>
		<hr>
		<div class="row">
			<div class="col-sm-6 margined">@Messages("parking.description")</div>
			<div class="col-sm-6 margined">
				@common.map(List(UtilObject.ancoraCoord, UtilObject.parkCoord), "parkMap", false, 0.5F)
			</div>
		</div>
	</div>
</div>
}