@(coords: List[(String, String, Float, Float)], compName: String = "topMap",hidden: Boolean = true, ratio: Float = 0.33F, zoom: Int = 18)

<div id="@compName"@if(hidden){class="map-anim hidden"}></div>

<script type="text/javascript">


	@if(hidden){
		function showTopMap(){
			const canvas = $("#topMap");
			canvas.toggleClass("hidden");
			if (canvas.children().length == 0){
				initializetopMap();
			}
		}
	}

      function initialize@{compName}() {
      	var canvas = $("#@compName");
      	canvas.height((canvas.parent().width() * @ratio)+"px");

      	var bounds = new google.maps.LatLngBounds();
		var latLng = new google.maps.LatLng(@coords(0)._3, @coords(0)._4);

        var mapOptions = {
          center: latLng
        };
        var map = new google.maps.Map(canvas[0],
            mapOptions);

        var loc;
        @for(coord <- coords){
        	loc = new google.maps.LatLng(@coord._3, @coord._4);
        	new google.maps.Marker({
			    position: loc,
			    title: "@coord._1",
			    map: map
			});
        	bounds.extend(loc);
	    }
    	map.fitBounds(bounds);
		map.panToBounds(bounds); 
      }
      @if(!hidden){
      	initialize@{compName}();

      }
</script>

